APScheduler==3.6.3
behave==1.2.6
cachier==1.2.8
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
Click==7.0
colorama==0.4.4
cryptography==3.3.1
decorator==4.4.2
emoji==1.2.0
idna==2.8
loguru==0.4.0
packaging==19.2
parse==1.19.0
parse-type==0.5.2
plumbum==1.6.8
portalocker==2.1.0
pycparser==2.20
pymongo==3.9.0
pyparsing==2.4.7
python-rex==0.4
python-telegram-bot==13.0
pytz==2020.5
pywin32==300
PyYAML==5.3.1
requests==2.22.0
six==1.15.0
telebot==0.0.4
telegram-menu==0.3.2
tornado==6.1
tzlocal==2.1
updater==0.1.25
urllib3==1.25.11
validators==0.18.2
watchdog==1.0.2
win32-setctime==1.0.3
